.nav-link {
    font-family: 'Montserrat', sans-serif;
}

#contact_container 
{
    margin-top: 56px;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

.social_logo {
    width: 101px;
}

.social_text {
    font-family: 'Open Sans', sans-serif;
}

#copyright_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0rem;
}