body {
    padding-top: 56px;
    padding-bottom: 56px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}

h4, h6 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.project_link {
    text-decoration: none;
}

.carousel-indicators li.indicators_black {
    background-color: black;
}

.carousel-indicators .active.indicators_black {
    background-color: darkslategray;
}

.carousel-control-prev-icon.icon_black {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon.icon_black {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.microsoft_store_badge {
    max-width: 60%;
}

#copyright_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0rem;
}